<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:hx="http://www.w3.org/1999/xhtml" lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:cms="http://www.ytx.com/cms"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <script>
        var title = 'abc'
    </script>
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
<div data-layout-fragment="content">

    <div id="cms_content" class="cms" cms:fragment="xxxx">cms content</div>

    <span>demo</span>

    <div hx:get="@{/partial}" hx-target="#otherElement">Load user details</div>
    <div id="otherElement"></div>
</div>

</body>
</html>